<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>
        <img src="/assets/practera-mark.svg" alt="Practera">
      </ion-title>
      <ion-button color="light" fill="solid" size="large">
        Virtual Internship for XYZ
        <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="medium" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="phone-portrait"></ion-icon>
      </ion-button>
      <ion-button color="medium" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button color="medium" fill="clear" shape="round">
        <ion-avatar>
          <img src="/assets/placeholders/admin-profile-picture.png" alt="Admin">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>