<ion-app>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu class="drawer">
      <ion-header>
        <ion-toolbar>
          <img src="/assets/practera-mark.svg" alt="Practera">
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item lines="none">
            <ion-button fill="clear" size="large" color="dark">Dashboard</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="clear" size="large" color="medium">Enrolments</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-button fill="clear" size="large" color="medium">Team</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons>
            <ion-button color="medium" fill="clear" shape="round">
              <ion-avatar>
                <img src="/assets/placeholders/admin-profile-picture.png" alt="Admin">
              </ion-avatar>
            </ion-button>
            <ion-button color="medium" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
            </ion-button>
            <ion-button color="medium" fill="clear" shape="round">
              <ion-icon slot="icon-only" name="phone-portrait"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet></ion-router-outlet>
  </ion-split-pane>
</ion-app>
