<ion-footer>
  <div class="elsa-bar-wrapper">
    <div class="elsa-bar-avatar">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
    <div class="elsa-bar-message">
      <p class="body-1">Thanks for signing up, and welcome to your first project! I'm your <strong>E</strong>xperiential <strong>L</strong>earning <strong>S</strong>upport <strong>A</strong>ssistant. You can call me ELSA. I’ll show you how to use Practera to run your virtual internship.</p>
    </div>
    <div class="elsa-bar-actions">
      <ion-button shape="round" size="large" color="primary">OK, Let’s Go!</ion-button>
    </div>
  </div>
</ion-footer>