<div class="people-list">
  <ion-toolbar>
    <ion-title>Student progress</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ngx-datatable
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="48"
    [footerHeight]="48"
    [rowHeight]="48"
    [selected]="selected"
    [selectionType]="'checkbox'"
    [limit]="limit"
    [offset]="offset"
    [count]="count"
    externalPaging=true
    externalSorting=true
    [loadingIndicator]="loading"
    class="material"
    margin-horizontal>
    <!-- <ngx-datatable-column
      [width]="48"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true">
    </ngx-datatable-column> -->
    <ngx-datatable-column
      name="Student"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="student">
          <ion-avatar>
            <img src="./assets/placeholders/admin-profile-picture.png" alt="Admin">
          </ion-avatar>
          {{ value }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Team"
      [width]="90"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false">
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Progress"
      [sortable]="true"
      [canAutoResize]="true"
      [draggable]="false"
      [resizeable]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="cell">
          <ion-button
            class="btn-scroll-left"
            color="medium"
            fill="clear"
            (click)="scroll(progressRef.scrollLeft - 100)"
            *ngIf="progressRef.scrollWidth > progressRef.offsetWidth">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-button>

          <div class="progress" (scroll)="scroll(progressRef.scrollLeft)" #progressRef>
            <div *ngFor="let progress of value; let i = index" [style.width]="progressWidth(value.length) + '%'" #iconRef>

              <ng-container *ngIf="progress.status === 'not started' || progress.status === 'in progress'">
                <ion-button *ngIf="progress.overdue" color="danger" fill="clear" (click)="presentPopover($event, progress)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!progress.overdue" color="medium" fill="clear" (click)="presentPopover($event, progress)">
                  <ion-icon name="radio-button-off"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'done' || progress.status === 'published'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="presentPopover($event, progress)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'pending review' || progress.status === 'pending approval'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="presentPopover($event, progress)">
                  <ion-icon name="hourglass"></ion-icon>
                </ion-button>
              </ng-container>

              <span color="light" *ngIf="i < value.length - 1 && iconRef.offsetWidth >= 60">|</span>

            </div>
          </div>

          <ion-button
            class="btn-scroll-right"
            color="medium"
            fill="clear"
            (click)="scroll(progressRef.scrollLeft + 100)"
            *ngIf="progressRef.scrollWidth > progressRef.offsetWidth">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-button>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <!-- <ngx-datatable-column
      name="Action"
      [width]="90"
      [sortable]="true"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false">
      <ng-template ngx-datatable-cell-template>
        <ion-button color="medium" fill="clear" size="small">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
</div>