// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #2BC1D9;
  --ion-color-primary-rgb: 43, 193, 217;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #26aabf;
  --ion-color-primary-tint: #40c7dd;

  /** secondary **/
  --ion-color-secondary: #ADF82D;
  --ion-color-secondary-rgb: 173, 248, 45;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #98da28;
  --ion-color-secondary-tint: #b5f942;

  /** tertiary **/
  --ion-color-tertiary: #6A3DE0;
  --ion-color-tertiary-rgb: 106, 61, 224;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d36c5;
  --ion-color-tertiary-tint: #7950e3;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #AFB5D2;
  --ion-color-medium-rgb: 175, 181, 210;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #8089B2;
  --ion-color-medium-tint: #C7CBE1;

  /** light **/
  --ion-color-light: #F5F6FA;
  --ion-color-light-rgb: 245, 246, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #D8DBEB;
  --ion-color-light-tint: #FAFAFC;

  /** Globals: Application variables **/
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-margin: 24px;
  --ion-padding: 24px;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;
  --ion-placeholder-color: var( --ion-color-medium-shade);
}
