<app-navbar></app-navbar>

<ion-content>
  <app-metric-grid></app-metric-grid>
  <div class="people-list">
    <ion-toolbar>
      <ion-title>Student progress</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ngx-datatable
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="48"
      [rowHeight]="48"
      [selected]="selected"
      [selectionType]="'checkbox'"
      class="material">
      <ngx-datatable-column
        [width]="48"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Student"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Progress"
        [sortable]="true"
        [canAutoResize]="true"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="progress">
            <div *ngFor="let progress of value; let i = index" [style.width]="progressWidth(value.length) + '%'">

              <ng-container *ngIf="progress.status === 'not started' || progress.status === 'in progress'">
                <ion-button *ngIf="progress.overdue" color="danger" fill="clear" (click)="presentPopover($event, progress)" (mouseenter)="presentPopover($event, progress)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!progress.overdue" color="medium" fill="clear" (click)="presentPopover($event, progress)" (mouseenter)="presentPopover($event, progress)">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'done' || progress.status === 'published'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="presentPopover($event, progress)" (mouseenter)="presentPopover($event, progress)">
                  <ion-icon name="checkmark"></ion-icon>
                </ion-button>
              </ng-container>

              <ng-container *ngIf="progress.status === 'pending review' || progress.status === 'pending approval'">
                <ion-button [color]="progress.overdue ? 'warning' : 'success'" fill="clear" (click)="presentPopover($event, progress)" (mouseenter)="presentPopover($event, progress)">
                  <ion-icon name="hourglass"></ion-icon>
                </ion-button>
              </ng-container>

              <span color="light" *ngIf="i < value.length - 1">|</span>

            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Action"
        [width]="128"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template ngx-datatable-cell-template>
          <ion-button color="medium" fill="clear" size="small">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>

<app-elsa-bar></app-elsa-bar>