<app-navbar></app-navbar>

<ion-content>
  <app-metric-grid></app-metric-grid>
  <div class="people-list">
    <ion-toolbar>
      <ion-title>Student progress</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ngx-datatable
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="48"
      [rowHeight]="48"
      [selected]="selected"
      [selectionType]="'checkbox'"
      class="material">
      <ngx-datatable-column
        [width]="48"
        [sortable]="false"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false"
        [headerCheckboxable]="true"
        [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Student"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Progress"
        [sortable]="true"
        [canAutoResize]="true"
        [draggable]="false"
        [resizeable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <ion-button *ngFor="let progress of value" [color]="progress.overdue ? 'danger' : 'success'">
            <ng-container [ngSwitch]="progress.status">

              <ng-container *ngSwitchCase="'done'">
                <ion-icon name="checkmark"></ion-icon>
              </ng-container>

              <ng-container *ngSwitchCase="'in progress'">
                <ion-icon name="create"></ion-icon>
              </ng-container>

              <ng-container *ngSwitchCase="'published'">
                <ion-icon name="done-all"></ion-icon>
              </ng-container>

              <ng-container *ngSwitchCase="'not started'">
                <ion-icon name="checkmark" [color]="progress.overdue ? 'danger' : 'success'"></ion-icon>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <ion-icon name="hourglass"></ion-icon>
              </ng-container>

            </ng-container>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Action"
        [width]="128"
        [sortable]="true"
        [canAutoResize]="false"
        [draggable]="false"
        [resizeable]="false">
        <ng-template ngx-datatable-cell-template>
          <ion-button color="medium" fill="clear" size="small">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>

<app-elsa-bar></app-elsa-bar>