
app-metric-grid,
.people-list {
  margin-bottom: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

ion-content {
  --background: var(--ion-background-color);
}

.progress {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
  div {
    display: inline-block;
    min-width: 60px;
  }
  ion-button {
    width: 100%;
    vertical-align: middle;
  }
  span {
    color: var(--ion-color-medium);
    vertical-align: middle;
  }
}