app-metric-grid,
.people-list {
  margin-bottom: 24px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

ion-content {
  --background: var(--ion-background-color);
}
.cell {
  position: relative;
  padding-right: 20px;
}

.btn-scroll-left {
  float: left;
  --padding-start: 0;
  --padding-end: 0;
}
.btn-scroll-right {
  position: absolute;
  top: 0;
  right: 0;
  --padding-start: 0;
  --padding-end: 0;
}
@mixin scroll-bar() {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}
.student {
  @include scroll-bar();
  ion-avatar {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    display: inline-block;
  }
}

.progress {
  @include scroll-bar();
  div {
    display: inline-block;
    min-width: 30px;
  }
  ion-button {
    width: 100%;
    vertical-align: middle;
    --padding-start: 0;
    --padding-end: 0;
  }
  span {
    color: var(--ion-color-medium);
    vertical-align: middle;
  }
}